/.idea/modules.xml
/nostr/storage/
/nostr/storage/nostr.db
/nostr/storage/nostr-relay.db
/.idea/nostrpy.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
/data/container_file/
/data/container_file_lock/
/err.txt