html {
    height:100vh;
}
body {
    height:100vh;
    /*font-family : courier;*/
    font-family : ariel;
    background-color: black;
    color: white;
    min-width: 480px;
    font-size: 16px;
}

.header-row{
    height :64px;
}

.main-row{
    height: calc(100% - 64px);
    max-height: calc(100% - 64px);
}

img{
    max-width:100%;
}

.pubkey-text {
    color: cyan;
    font-family : courier;
}

.tab-tool-area{
    float:right;
    display:table-cell;
    padding-top:4px;
    padding-bottom:4px;
}

.profile-pic-large, .profile-pic-small, .profile-pic-verysmall{
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic-large{
    min-width: 128px;
    width: 128px;
    height: 128px;
}

.profile-pic-small{
    min-width: 64px;
    width: 64px;
    height: 64px;
}

.profile-pic-verysmall{
    min-width: 24px;
    width: 24px;
    height: 24px;
}

.profile-about-label{
    width: 160px;
    color: gray;
    display:table-cell;
}

.post-content{
    min-height:60px;
    width:100%;
    max-width:100%;
    display:table-cell;
    /* overflow-wrap:break-word; would be better but doesn;t seem to work in table cell*/
    overflow-wrap:anywhere;
    vertical-align:top;
    background-color:#221124;
    cursor: pointer;
    padding-right:10px;
}

/* bootstrap icons */
.bi{
    width: 16px;
    height: 16px;
    fill: currentColor;
    cursor: pointer;
}

.bi-large{
    width: 32px;
    height: 32px;
    fill: currentColor;
    cursor: pointer;
}


.modal {
  padding: 0 !important; // override inline padding-right added from js
}

.modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
/*  padding-left: 10%;
  padding-right: 10%;
  margin-left: 10%;
  margin-right: 10%;*/
}

.modal .modal-content {
  height: auto;
  min-height: 100%;
  height: 100%;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  background-color: black;
  color: white;
}

/*
    for post buttom bottom right of screen
    kind of works but because based on viewport not great
    when the height is shrunk down. would be better if we could get min size and
    still keep it circular..
*/

.post-div {
    display: none;
    position : absolute;
    bottom: 3%;
    right: 3%;
    /*height: 8vh;
    min-height : 8vh;
    width: 8vh;
    min-width : 8vh;*/
    min-width: 64px;
    width: 64px;
    height: 64px;
    border-radius : 50%;
    padding : 0px;
    background-color: #337ab7;
    border: 2px solid #2e6da4;
    z-index : 100;
    cursor: pointer;
}

.event-detail {
    font-family : courier;
    font-size : 14px;
    color: gray;
}

/*
.selected-profile {
    border : 1px solid yellow;
}
*/

/* profile list profile picture and text area */
.profile-picture-area{
    display : table-cell;
    width : 96px;
    min-width : 96px;
    background-color:#111111;
    padding-right:10px;
}

.profile-detail-area{
    width : 100%;
    display : table-cell;
    word-break : break-all;
    vertical-align : top;
    background-color : #221124;
}

.profile-picture-area-selected{
    background-color: #333333;
}

.profile-detail-area-selected{
    background-color : #554457;
}

/*
.left-post-div {
    left: 3%;
    background-image: url('https://thetravelhack.com/wp-content/uploads/2013/05/letterbox-in-Falmouth.jpg');
    background-size: cover;
}
*/

.header-button {
    height:64px;
    width:64px;
    min-width: 64px;
    min-height: 64px;
    background-color: #337ab7;
    border-radius:50%;
    cursor: pointer;
    display: inline-block;
    magin-left : 8px;
    margin-right: 8px;
}

.profile-view-about-pane{
    width:100%;
    overflow:hidden;
    height:140px;
    background-color:#221124;
}
.profile-view-tab-pane{
    height: calc(100% - 140px);
}

@media (max-width: 480px) {
    body {
        min-width: 100%;
    }

    .profile-pic-large{
        min-width: 64px;
        width: 64px;
        height: 64px;
    }

    .profile-pic-small{
        min-width: 32px;
        width: 32px;
        height: 32px;
    }

    .profile-pic-verysmall{
        min-width: 16px;
        width: 16px;
        height: 16px;
    }

    .profile-about-label{
        display: block;
    }

    .tab-tool-area{
        float:none;
        padding-top:0px;
        padding-bottom:0px;
        display: inline-block;
        width:100%;
    }

    .header-button {
        height:32px;
        width:32px;
        min-width: 32px;
        min-height: 32px;
        magin-left : 4px;
        margin-right: 4px;
    }

    .header-row{
        height :32px;
    }

    .main-row{
        height: calc(100% - 32px);
    }

    .profile-view-about-pane{
        width:100%;
        overflow:hidden;
        height:240px;
    }
    .profile-view-tab-pane{
        height: calc(100% - 240px);
    }


}


@media (hover: none) {
    .bi{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .bi-large{
        width: 38px;
        height: 38px;
        margin-right: 5px;
    }

}